{% extends "base.html" %}

{%block front_image %}
<div id="frontimage"></div>
{% endblock %}

{% block main_content %}
<main class="bodymain">
<div class="bodydiv">
    <h2>Our Mission</h2>
    <p>Impossible</p>
    <h2>The Problem</h2>
    <p>Hundreds of thousands of people are struggling to find employment in a competitive job market.</p>
    <h2>Our Solution</h2>
    <p>We provide a platform that connects job seekers with employers, offering personalized job recommendations and career development resources.</p>

<h2>Our Team</h2>
<div class="profile-container">
    <div class="tab-grid-about-us">
        <a href="#camelia" class="squircle-about-us camelia-info">
            <span class="squircle-text">Camelia Chew</span>
        </a>
        <a href="#natalie" class="squircle-about-us natalie-info">
            <span class="squircle-text">Natalie Wong</span>
        </a>
        <a href="#yushen" class="squircle-about-us yushen-info">
            <span class="squircle-text">Yu Shen Tan</span>
        </a>
        <a href="#devanshi" class="squircle-about-us devanshi-info">
            <span class="squircle-text">Devanshi Prakash</span>
        </a>
    </div>
</div>
</div>
</main>
{% endblock %}