{% extends "base.html" %}

{% block front_image %}
<div id="frontimage-jobs-explore"></div>
{% endblock %}

{% block main_content %}
<main class="profile-container">
    <div class="tab-grid">
        <a href="#job1" class="squircle">
            <span class="squircle-text">Kakak</span>
        </a>
        <a href="#job2" class="squircle">
            <span class="squircle-text">Plumber</span>
        </a>
        <a href="#job3" class="squircle">
            <span class="squircle-text">Electrician</span>
        </a>
        <a href="#job3" class="squircle">
            <span class="squircle-text">Jobless Bro</span>
        </a>
        <a href="#job1" class="squircle">
            <span class="squircle-text">A</span>
        </a>
        <a href="#job2" class="squircle">
            <span class="squircle-text">B</span>
        </a>
        <a href="#job3" class="squircle">
            <span class="squircle-text">C</span>
        </a>
        <a href="#job3" class="squircle">
            <span class="squircle-text">D</span>
        </a>
        <a href="#job3" class="squircle">
            <span class="squircle-text">E</span>
        </a>
        <a href="#job3" class="squircle">
            <span class="squircle-text">F</span>
        </a>
        </div>
</main>
{% endblock %}