<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
        <meta charset = "utf-8">
        <link  rel="icon" href="https://voca-land.sgp1.cdn.digitaloceanspaces.com/43844/1649321779610/5d74cafd623b9289baa0332456cfdd85f7cdfe24763dfc2b2aa3d54097ace92f.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GetEmployed</title>
    </head>
    <body>
        <header>
            <a id="home" href="{{ url_for('home') }}">Home</a>
        
            <a href="{{ url_for('home') }}">
                <img id="logo" alt="GetEmployed Logo" src="https://voca-land.sgp1.cdn.digitaloceanspaces.com/43844/1649321779610/5d74cafd623b9289baa0332456cfdd85f7cdfe24763dfc2b2aa3d54097ace92f.jpg">
            </a>
        
            <nav>
                <ul>
                    <li><a href="{{ url_for('jobGuide') }}">Job Guide</a></li>
                    <li><a href="{{ url_for('donate') }}">Donate</a></li>
        
                    {% if session.get("user_name") %}
                        <li class="user-tag">👤 {{ session["user_name"] }}</li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('signIn') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>  


        <div class="row">
            
            <div class= "age">
              <h3 class="title">Explore</h3>
              <ul class="winners">
                <li><a href="{{url_for('explore')}}">Explore other jobs with no qualifications</a></li>
                <li>Includes both part time and specialised work</li>
              </ul>
            </div>
            <div class= "age">
              <h3 class="title">Build your portfolio</h3>
              <ul  class="winners">
                <li><a href="{{ url_for('interview.interview_page') }}">Mock Interview</a></li>
                <li>AI Assistant</li>
                <li><a href="{{url_for('CVexamples')}}">CV Examples</a></li>
                <li><a href="{{url_for('skills')}}">Soft Skills</a></li>
              </ul>
            </div>
            <div class= "age">
              <h3 class="title">Get Employed</h3>
              <ul  class="winners">
                <li><a href="{{url_for('know')}}">To know before getting a job</a></li>
                <li><a href="{{url_for('jobs')}}">Available jobs (part time & specialised) and scholarships</a></li>
              </ul>
            </div>
          </div>
        {% include 'includes/footer.html' %}
    </body>
</html>